*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: "Raleway", sans-serif; */
/* font-family: "Lato", sans-serif; */
/* font-family: "Mukta", sans-serif; */
:root{
  --bg-color: #ffe6c2;
    --head-color: #c7c7d1;
  --card-color: #efb081;
    --carousel-color: #b86b00;
    --font-color: #7a4700;
  --carousel-review: #ffddad;  
    --accordion-color: #ffbb5c;
  --gallery-color: #fbe4b1;
    --footer-color: #f8e0a0;
  --navigation-color:#f2ac2c;
    --container-color: #f58f00;
}
body{
  background-color: var(--bg-color);
  color: var(--font-color);
}
.container{
  max-width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  border: 1px solid #f2ac2c; 
  margin: 5px auto;
}
.navigation{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  width: 100%;
  background-color: var(--carousel-review);
}
.nav-left img{
  width: 3rem;
  height: 3rem;
  margin-left: 20px;
  margin-top: -1rem;
}
.nav-left{
  font-size: 20px; 
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  color: var(--container-color);
  text-transform: uppercase;
  margin-top: 5px;
font-family: "Lato", sans-serif;
  font-weight: 700;
}
.nav-left p{
  margin-left: 10px;
  margin-top: -1rem;
}
a{
  text-decoration: none;
  color: var(--font-color);
}
.nav-right{
  display: flex;
  justify-content: space-evenly;
font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--accordion-color);
  border: 1px solid #f58f00;
}
.head-line{
  background-color: #f8e0a0;
  height: 100%;
  border: 2px solid salmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-pic{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.head-pic img{
  width: 70px;
  margin-top: 16px;
  margin-left: 10px;
  border-radius: 50%;
}
.contain span{
  word-spacing: 2px;
font-family: "Mukta", sans-serif;
  margin-left: 5px;
  font-weight: 700;
}
