*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg-color: #f7e5da;
  --head-color: #832b00;
  --card-color: #efb081;
  --carousel-color: #b86b00;
  --font-color: #7a4700;
  --carousel-review: #ff8547;  
  --accordion-color: #ffbb5c;
  --gallery-color: #ffad85;
  --footer-color: #f8e0a0;
  --navigation-color:#f2ac2c;
  --container-color: #c9682c;
  --extra-color: #ffc9ad;
}
body{
  background-color: var(--bg-color);
}
.container{
  max-width: 90%;
  border: 1px solid #f2ac2c; 
  margin: 5px auto;
}
.navigation{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  width: 100%;
  background-color: var(--extra-color);
}
.nav-left img{
  width: 3rem;
  height: 3rem;
  margin-left: 20px;
  margin-top: -1rem;
}
.nav-left{
  font-size: 20px; 
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  color: var(--head-color);
  text-transform: uppercase;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.nav-left p{
  margin-left: 10px;
  margin-top: -1rem;
}
a{
  text-decoration: none;
  color: var(--font-color);
}
.nav-right{
  display: flex;
  justify-content: space-evenly;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--accordion-color);
  color: var(--font-color);
  border-top: 1px solid #832b00;
  border-bottom:1px solid #832b00; 
}
.head-line{
  height: 220px;
  width: 100%;
  margin: 0 auto;
  gap: 5px;
  display: flex;
  border-bottom: 1px solid #832b00;
  flex-direction: row;
}
.head-pic{
  height: 100%;
  gap: 5px;
  background-color: var(--extra-color);
}
.button{
  margin-left:98px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: var(--container-color);
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover{
  text-decoration: underline;
  text-shadow: 2px 2px 18px var(--container-color);
}
.head-pic img{
  width: 70px;
  margin-top: 16px;
  margin-left: 10px;
  border-radius: 50%;
}
.head-pic p{
  font-size: 16px;  
  font-family: "Raleway", sans-serif;
  margin: 1rem 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color);
}
.text{
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color);
}
/* accordion class code start */
.accordion {
  max-width: 100%;
  /* margin: 100px auto; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--extra-color);
  border-top: 1px solid #832b00;
  border-bottom: 1px solid #832b00;
}
.number, .question {
  font-size: 24px;
  font-weight: 700;
}
.number {
  color: #7a4700;
}
.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
}
.content {
  display: none;
  grid-column: 2;
}
.question{
  color: #832b00;
}
.content p {
  margin-bottom: 24px;
}
.open .content {
  display: block;
}
.open svg{
  transform: rotate(0deg);  
  cursor: pointer;
}
.images img{
  width: 100px;
  height: 100px;
  display: flex;
  gap: 36px;
  transform: scale(0.9);
  margin-top: -1rem;
}
