*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: "Raleway", sans-serif; */
/* font-family: "Lato", sans-serif; */
/* font-family: "Mukta", sans-serif; */
:root{
  --bg-color: #f7e5da;
    --head-color: #832b00;
  --card-color: #efb081;
    --carousel-color: #b86b00;
    --font-color: #7a4700;
  --carousel-review: #ff8547;  
    --accordion-color: #ffbb5c;
  --gallery-color: #ffad85;
    --footer-color: #f8e0a0;
  --navigation-color:#f2ac2c;
    --container-color: #c9682c;
  --extra-color: #ffc9ad;
}
body{
  background-color: var(--bg-color);
  color: var(--font-color);
}
.container{
  max-width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  border: 1px solid #f2ac2c; 
  margin: 5px auto;
}
.navigation{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  width: 100%;
  background-color: var(--extra-color);
}
.nav-left img{
  width: 3rem;
  height: 3rem;
  margin-left: 20px;
  margin-top: -1rem;
}
.nav-left{
  font-size: 20px; 
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  color: var(--head-color);
  text-transform: uppercase;
  margin-top: 5px;
font-family: "Lato", sans-serif;
  font-weight: 700;
}
.nav-left p{
  margin-left: 10px;
  margin-top: -1rem;
}
a{
  text-decoration: none;
  color: var(--font-color);
}
.nav-right{
  display: flex;
  justify-content: space-evenly;
font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--accordion-color);
  border: 1px solid #f58f00;
}
.head-line{
  /* background-color: #f8e0a0; */
  height: 250px;
  width: 100%;
  /* border: 2px solid salmon; */
  margin: 0 auto;
  gap: 5px;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  /* align-items: center; */
}
.head-pic{
  height: 100%;
  border: 2px solid salmon;
  gap: 5px;
  background-color: var(--card-color);
}
.head-pic img{
  width: 70px;
  margin-top: 16px;
  margin-left: 10px;
  border-radius: 50%;
}
.text{
font-family: "Mukta", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* .contain span{ */
/*   word-spacing: 2px; */
/* } */
